<div class="main">
<center>
</br>
<h1> <%= t 'welcome.homepage' %> </h1>
</br>
<p><%= t 'welcome.about' %> </p>

</br>
<p> <%= t 'welcome.about2' %> </p>

<%= link_to 'Back', games_path %>
</center>
</div>