
<div id="container" style="height:120px ">


<center>
<h2>Welcome to Games Network!</h2>

<form id=myform action ="games/search" method="post">
<input name = "key" type="input" />
<input value="Search Games" type="submit"/>
</form> </center>
</br>
<%= link_to 'All Games', games_path %>

</div>
